// _mixins.scss

@mixin button-style($background-color, $margin-right: 0) {
  background-color: $background-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: $margin-right;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: darken($background-color, 10%);
  }
}
